.navbar{
    display: flex;
    justify-content: space-around;
}
li {
    display: inline;
    margin: 15px;
}
.navbar a{
    text-decoration: none;
    color:white;
}
i{
    color:white;
}
body{
    margin: 0px;
}
.home-page{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-text{
    width: 60%;
    margin-bottom: 5rem;
}
.container-text h1{
    font-size: 70px;
}
.container-text h2{
    font-size: 30px;
}
.container-text p{
    font-size: 24px;
}
.container-text-area{
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
    color: white;
}
.btn{
    color:black;
    border: none;
    background-color: #fff;
    padding: 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.social-media i{
    margin: 10px;
}
.social-media{
    margin-left:10px;
    display: contents;
}
.container-box{
    width: 60%;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding:20px;
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.container-box p {
    padding-left:50px;
    padding-right: 50px;
}
.featured-page{
    text-align: center;
    color: black;
    background-color: rgba(246, 245, 245, 0.715);
}

.featured-page a{
   text-decoration: none;
   color: black;
}
.featured-page button, .clients-page button{
    border:none;
    background-color: transparent;
    cursor:pointer;
    padding: 10px;
    border-radius: 5px;
}
.viewmore:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cards{
    display: flex;
    margin-top:50px;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    width: 85%;
}
.card{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    margin:20px;
}
.cards-text{
    padding:15px;
    margin-bottom: 25px;
}
.cards-text p{
    color:gray;
    text-align:left;
}
.cards-text li{
    border:none;
    background-color: rgb(240, 238, 238);
    color: black;
    border-radius: 15px;
    padding:10px;
    margin:5px;
}
.cards-area{
    justify-content: center;
    display: flex;
}
.clients-page{
    text-align: center;
    color: black;
    margin-top:30px;
}
.box{
    border-radius: 5px;
    border: 1px solid rgba(222, 221, 221, 0.715);
    width: 300px;
    margin:20px;
    padding: 20px;
    cursor: pointer;
    color: gray;
}
.box button{
    border:1px solid rgba(222, 221, 221, 0.715);
    font-weight: bold;
    background-color: transparent;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
}
.box:hover{
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.608) , rgba(255, 0, 0, 0.63));
    color:white;
}
.button-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img-area{
    justify-content: center;
    display: flex;
}
.box p {
    text-align: center;
}
.whatwedo-page{
    text-align: center;
}
.wedo-box-area{
    display: flex;
    margin-top:50px;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}
.contact{
    text-align: center;
}
.login-box {
    padding: 40px;
    color: black;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
    border-bottom-color: orange;
  }
  input, select{
    border-bottom: 1px solid gray !important;
  }
  input:focus, select:focus{
    border-bottom: 3px solid orange !important;
  }
  select{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .textarea{
    width: 100%;
    height: 50px;
  }
  .send{
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.608) , rgba(255, 0, 0, 0.63));
    border:none;
    height: 50px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(194, 34, 34, 0.24) 0px 3px 8px;
    margin-top:20px;
    cursor: pointer;
  }
  .send:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
textarea {
    border: none;
    outline: none;
}
.footer a{
    text-decoration: none;
    color: orange;
}
.footer i {
    color: gray;
}
.footer p {
    width: 30%;
}
.footer-text-area {
    justify-content: center;
    display: flex;
}
.mobile-menu{
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .mobile-menu{
        display: block;
    }
    .menu{
        display:none;
    }
    .navbar{
        justify-content: space-between;
    }
    .container-text h1{
        font-size: 49px;
    }
  }