.inputs, .login-box .user-box input, .textarea, select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  max-width: 100%;
  min-width: 100%;
}

.wrap, .cards, .wedo-box-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li {
  display: inline;
  margin: 15px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

i {
  color: white;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.title {
  text-shadow: -2px 6px 4px black;
}

.home-page {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-text {
  width: 60%;
  margin-bottom: 5rem;
}

.container-text h1 {
  font-size: 65px;
}

.container-text h2 {
  font-size: 30px;
}

.container-text p {
  font-size: 24px;
}

.container-text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0 0 0;
  color: white;
}

.btn {
  color: black;
  border: none;
  background-color: #fff;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.social-media i {
  margin: 10px;
}

.social-media {
  margin-left: 10px;
  display: contents;
}

.container-box {
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  margin: 0;
  width: 60%;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: none;
  -webkit-transform: translate(30%, -25%);
          transform: translate(30%, -25%);
}

.container-box p {
  color: gray;
}

.featured-page {
  text-align: center;
  color: black;
  background-color: rgba(246, 245, 245, 0.715);
}

.featured-page a {
  text-decoration: none;
  color: black;
}

.feature-work-btn {
  color: black;
  border: none;
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.feature-work-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.active {
  border: 1px solid gray;
}

.viewmore, .clients-page button {
  color: black;
  border: 1px solid gray;
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
}

.viewmore:hover, .clients-page button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cards {
  width: 85%;
}

.card {
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  margin: 20px;
  width: 300px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}

.cards-text {
  padding: 15px;
  margin-bottom: 25px;
}

.cards-text p {
  color: gray;
  text-align: left;
}

.cards-text li {
  border: none;
  background-color: #f0eeee;
  color: black;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}

.cards-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-page {
  text-align: center;
  color: black;
  margin-top: 30px;
}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
  width: 300px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(222, 221, 221, 0.715);
}

.box button {
  color: black;
  border: 1px solid rgba(222, 221, 221, 0.715);
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.box button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 166, 0, 0.608)), to(rgba(255, 0, 0, 0.63)));
  background-image: linear-gradient(to right, rgba(255, 166, 0, 0.608), rgba(255, 0, 0, 0.63));
  color: white;
}

.box:hover button {
  color: white;
}

.button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box p, .whatwedo-page, .contact {
  text-align: center;
}

.login-box {
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 40px;
  margin: 0;
  width: 40%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(222, 221, 221, 0.715);
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
  border-bottom-color: orange;
}

input, select {
  border-bottom: 1px solid gray !important;
}

input:focus, select:focus {
  border-bottom: 3px solid orange !important;
}

.send {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 166, 0, 0.608)), to(rgba(255, 0, 0, 0.63)));
  background-image: linear-gradient(to right, rgba(255, 166, 0, 0.608), rgba(255, 0, 0, 0.63));
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0px;
  width: 100%;
  -webkit-box-shadow: rgba(194, 34, 34, 0.24) 0px 3px 8px;
          box-shadow: rgba(194, 34, 34, 0.24) 0px 3px 8px;
  border: none;
  border: none;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.send:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer a {
  text-decoration: none;
  color: orange;
}

.footer i {
  color: gray;
}

.footer p {
  width: 30%;
}

.footer-text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.get-touch {
  margin-bottom: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .mobile-menu {
    display: block;
  }
  .menu {
    display: none;
  }
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container-text h1 {
    font-size: 49px;
  }
}
/*# sourceMappingURL=style.css.map */